<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
  <script src="http://unpkg.com/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
<h3>Grocery List</h3>
<ul>
<li v-for="grocery in groceries"> {{ grocery }} </li>
</ul>
</div>
</body>
</html>